

html{
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}
.menu {
    height: 80px;
    background: #292929;
    
}
.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 1.5rem;
    padding-right: 1rem;
}
.menu__list a { 
    font-size: 20px;
    color: #fdfdfd
}
.menu__list__item  {
   list-style: none;
}
.menu__list__item a {
    margin-left: 1.5rem;
    text-decoration: none;
}
.menu__list__item a:hover {
    text-decoration: underline;
}
.title__network__item {
list-style: none;
font-size: 20px;
}
.title__network__item a {
    text-decoration: none;
    padding-left: 2rem;
    color: #292929;
}
.title__network__item a:hover {
    text-decoration: underline;
}



.site-alura{
    color: #000;
    text-decoration: none;
}
.site-alura:hover{
    color: #fdfdfd;
    text-decoration: underline;
}

.title_div {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}
.title__network {
    display: flex;
    padding-top: 3rem;
}
.title__bio {
font-size: 30px;
width: 800px;
}
.title__subsection {
 font-size: 20px;
 padding-top: 2rem;
}




body {
    background: #ccc;
}





.about {
    background: #292929;
    padding: 2rem;
}
.about__title {
    font-size: 30px;
    color: #fdfdfd;
    padding: 2rem 2rem 2rem;
}
.about__container p {
    color: #fdfdfd;
    font-size: 16px;
    line-height: 1.5rem;
    padding-left: 2rem;
}






.skills__title {
    font-size: 40px;
    text-align: center;
    padding-top: 7rem;
}
.skills__line{
    display: flex;
    justify-content: space-around;
    padding: 7rem  2rem  7rem  2rem;
    text-align: center;
    align-items: baseline;
}
.skills__box{
    width: 150px;
    height: 150px;
   align-items: center;
   padding-top: 70px;
}
.skills__box:hover {
font-size: 20px;
background: #e0dfdf;
font-weight: bold;
}
.skills__name { 
    padding-top: 0.5rem; 
}
.skills__img {
    width: 150px;
    height: 100px;
}





.hobbies__title {
    font-size: 40px;
    text-align: center;
    padding-top: 5rem;
}
.hobbies__box{
    width: 150px;
    height: 150px;
    padding-top: 70px;

}
.hobbies__box:hover {
    font-size: 20px;
    background: #e0dfdf;
    font-weight: bold;
}
.hobbies__line {
    display: flex;
    justify-content: space-around;
    padding: 7rem  2rem  7rem  2rem;
    align-items: baseline;
    text-align: center;
}
.hobbies__img {
    width: 150px;
    height: 100px;
}
.hobbies__name {
    padding-top: 1rem;
}
.ler {
    width: 30px;
}
.musica, .panela,.camera,.ler {
    width: 40px;
}











.academic__title {
    font-size: 40px;
    text-align: center;
    padding-top: 5rem;
}
.academic__courses{
    display: flex;
    justify-content: space-around;
    padding: 8rem 2rem 8rem 2rem;
}
.academic__courses__list {
    text-align: center;
    width: 300px;
    height: 150px;
    padding-top: 50px;
}
.academic__courses__box{
    width: 300px;
}
.academic__courses__list:hover {
    font-size: 20px;
    background: #e0dfdf;
    font-weight: bold;
}
.academic__courses__list p {
    padding: 1rem;
}







.experience__section__title {
    font-size: 40px;
    text-align: center;
    padding: 2rem 2rem 4rem 2rem;
}
.experience { 
    text-align: left;
}
.experiencia__botao--demo {
    background: #292929;
    color: #fdfdfd;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-top: 1rem;
}
.experiencia__botao--demo:hover {
    background: #686666;
}
.experiencie__box {
    height: 450px;
    margin-left: 100px;
} 

.experience__info {
    position: relative;
    left: 55%;
    bottom: 350px;
    font-size: 30px;
}

.experience__description {
    padding-top: 1rem;
}
#info{
    padding-top: 1rem;
    font-size: 20px;
    width: 250px;
}





.formcontato__title  {
    font-size: 40px;
    text-align: center;
    padding: 5rem 2rem 2rem 2rem;
}
.formcontato__form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding-top: 1rem;
    margin-left: 21rem;
}
.formcontato__input {
    margin-top: 1rem;
    justify-content: space-between;
    padding: 0.7rem;
    background: #e0dfdf;
}
.formcontato__textarea {
    margin-top: 1rem;
    padding: 1.5rem;
    background: #e0dfdf;
}
.formcontato__botao {
    margin-left: 39%;
    margin-top: 3rem;
    background: #292929;
    color: #fdfdfd;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10rem;
}
.formcontato__subtext{
    text-align: center;
}






.footer {
    padding: 2rem 0 1rem;
    height: 50px;
    background: #292929;
}
.footer p {
    padding-top: 0.5rem;
    color: aliceblue;
    text-align: center;
}



@media screen and (max-width: 768px){
    html{
        width: auto;
    }
    body{
        width: auto;
    }
       
    .menu {
        width: auto;
        height: auto;
    }
    .menu__list {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-right: 0;
    }
    .menu__list a{
        font-size: 20px;
        margin-left: 0;
    }
    .menu__list__item{
        padding-bottom: 1rem;
    }
    .title__bio {
        width: 200px;
        font-size: 15px;
    }
    .title__profile{
        width: 100px;
        position: relative;
        bottom: 30px;
        right: 140px;
    }
    .title__network{
        width: auto;
    }
    .title__network__item {
        width: 90px;
    }
    .title__network__item a {
        padding-left: 0.3rem;
        font-size: 15px;
    }
    .title_div{
        width: 300px;
        padding: 2rem 1rem 1rem 1rem;
       
    }
    .about {
        width: auto;
        padding: 1rem;
    }
    .about__container p {
        padding-left: 1rem;
        padding-bottom: 1rem;
    }
    .skills__line {
        width: auto;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 4rem;
    
    }
    .skills__title{
        width: auto;
        padding-top: 2rem;
    
    }
    .skills__name{
        position: relative;
        align-items: baseline;
    }
    .skills__box{
        width: 100px;
        height: 90px;
       padding-top: 20px;
    }
    .skills__img {
        width: auto;
        height: auto;
        padding-bottom: 1rem;
    }
    .hobbies__title{
        width: auto;
        padding-top: 0;
    }
    .hobbies__line {
        width: auto;
        padding: 2rem 1rem 1rem 1rem;
    }
    .hobbies__box{
        width: 100px;
        height: 90px;
        padding-top: 20px;
    }
    .hobbies__name{
        position: relative;
        padding-top: 0;
    }
    .hobbies__img {
        width: auto;
        height: auto;
        padding-bottom: 1rem;
    }
    .academic__title{
        font-size: 35px;
        text-align: center;
        padding-top: 3rem;
    }
    .academic__courses{
        width: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2rem ;
    }
    .academic__courses__box{
        width: auto;
    }
    .academic__courses__list {
        text-align: center;
        width: auto;
        height: 150px;
        padding: 1rem;
    }
    .experience{
        text-align: left;
        width: auto;
    }
    .experience__img{
        width: auto;
        height: 250px;
        margin: 15px;
    }
    .experience__section__title {
        font-size: 35px;
        padding: 0;
    }
    .experience__info {
        position: relative;
        left: 5%;
        top: 1px;
        font-size: 30px;
    }
    .experiencie__box {
        height: 450px;
        margin: 50px;
    }
    .formcontato__form {
        width: auto;
        margin: 0 40px 0 40px;
    }
    .formcontato__title{
        padding-top: 4rem;
    }
    .formcontato__text{
        width: auto;
    }
    .formcontato__input{
        width: auto;
        
    }
    .formcontato__textarea{
        width: auto;
        
    }
    .formcontato__botao{
        width: auto;
        margin: 4rem 5rem 4rem 5rem;
    }
    .footer{
        width: auto;
    }
    
    }



